* {
  box-sizing: border-box;
}

body {
	margin-left:10px;
	margin-right:10px;
}



.brush{
	font-family: "Brush Script MT";
	font-size: 4em;
	color: #557571;

}

.in{
	padding-left:80px;
	border-bottom: 1px solid #fff;
}

.menu{
	padding-top: 10px;
	
}

.menu a{
		text-decoration:none;
			color:#000;
}

.menu a:hover{
		text-decoration:underline;
			color:#7d5A5a;

	}

.menu a:active{
		text-decoration:bold;
		color:#7d5A5a;
	}

main{
	width:100%;
	height:540px;
	background-color:#fff;
	margin-top: 10px;
	padding:10px 20px;
	overflow: auto;
	
}


h2 {
	padding: 0px 0px 5px 20px;
	border-bottom: 2px dotted #557571;
	color: #000;
}


article center {
	padding:1px 30px 0px 30px;
	color:#fff;
}


.box {
	background-color: #fff;
	border-radius:15px #557571;
	border-style: #557571 1px;
	margin-top: 20px;
	padding: 10px 20px 20px 20px;
	max-width: 100%;
}


.contact {
	float: left;
	width:50%;
	color:black;
	padding: 150px 20px 20px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}


aside {
	float: right;
	overflow:scroll;
	width:50%;
	max-height:500px;
	background-color: #fff;
	color:#000;
	padding: 10px 20px 30px 20px;
	margin: 10px 0px 100px 0px;
	border-radius:15px #557571;
}

aside p {
	padding: 1px 10px 0px 10px;
	max-height: 100%;
	max-width: 100%;
}

aside a {
	style:underline;
	color: black;
}


footer {
		width:100%;
		min-height:50px;
		line-height:50px;
		padding-left:40px;
		background-color:#fff;
		color:#557571;
		text-align: left;
}

footer a {
		text-decoration:none;
			color:#557571;
}

footer a:hover{
		text-decoration:underline;
			color:#7d5A5a;

	}

footer a:active{
		text-decoration:bold;
		color:#7d5A5a;
	}





/* media */

@media screen and (max-width: 1000px) {
   main {
       height: 100%;
   }
   .menu {
   		float:right;
   		padding-bottom:5px;
   		margin-right:10px;
   }

  .contact {
  	width:100%;
  }

  input {
	max-width:80%;
	
}

textarea {
	max-width:80%;
	border-radius:5px;
}

.btn {
	max-width:100px;
}




aside {
       width: 100%;
       max-height: 100%;
       
   }
   }

/* untuk 670px */

@media (max-width: 670px) {

  main {
  	width:100%;
  }

.contact {
  	width:100%;
  }

  input {
	max-width:50%;
	
}

textarea {
	max-width:50%;
	border-radius:5px;
}

.btn {
	max-width:100px;
}

.produ {
	width:100%;
	padding: 0;
}

.prod {
	width:100%;
	padding: 0;
}

aside {
       width: 100%;
       padding: 0;
   }
}
